{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="news-title">
    <h2>Company News</h2>
    <h3>Our Latest News, Services, Trading Changes & Opportunities</h3>
</div>

<div class="news-info">
    <div class="news">
        <h4>CrisOption revisits Sylhet for another exclusive workshop</h4>
        <p><span class="news-p">15.08.2019</span></p>
        <p>Traders in Sylhet, Bangladesh, were pleased to meet the esteemed Forex Educator Robin Mazumdar at an exclusive Forex Basics and Trading Strategies two-day workshop. The event provided a unique perspective on the fundamentals of the markets, and introduced fresh strategies that could contribute to successful trading.</p>
    </div>

    <div class="news">
        <h4>CrisOption Trading Schedule for US Independence Day 2019</h4>
        <p><span class="news-p">01.07.2019</span></p>
        <p>Please note that in observance of the upcoming US Independence Day 2019 on July 4, there will be temporary changes to CrisOption' trading schedule. Kindly refer to the Market Trading Hours table in the members area for the schedule of all the instruments that are subject to changes.</p>
    </div>

    <div class="news">
        <h4>CrisOption Trading Schedule for the US Memorial Day and UK Spring Bank Holiday 2019</h4>
        <p><span class="news-p">23.05.2019</span></p>
        <p>Please note that in observance of the upcoming US Memorial Day and UK Spring Bank Holiday 2019 on May 27, there will be temporary changes to CrisOption' trading schedule. Kindly refer to the Market Trading Hours table in the members area for the schedule of all the instruments that are subject to changes.</p>
    </div>

    <div class="news">
        <h4>CrisOption Partners Sponsor Technical Analysis Workshop in Bangkok</h4>
        <p><span class="news-p">12.09.2019</span></p>
        <p>Traders in Bangkok, Thailand joined acclaimed FX Educator Bilal Jafar for a hugely informative two-day workshop on Technical Analysis sponsored by CrisOption Partners. The event commenced on Monday 24 June and took place at the elegant Grande Centre Point Hotel Ratchadamri.</p>
    </div>

    <div class="news">
        <h4>CrisOption Trading Schedule for the Easter Holiday 2019</h4>
        <p><span class="news-p">16.04.2019</span></p>
        <p>Please note that in observance of the upcoming Easter Holiday from 18-22 April 2019, there will be temporary changes to CrisOption' trading schedule. Kindly refer to the Market Trading Hours table in the members area for the schedule of all the instruments that are subject to changes.</p>
    </div>

    <div class="news">
        <h4>CrisOption Trading Schedule for the Queen's Birthday in Australia 2019</h4>
        <p><span class="news-p">06.06.2019</span></p>
        <p>Please note that in observance of the Queen's Birthday in Australia 2019 on June 10, there will be temporary changes to CrisOption' trading schedule. Kindly refer to the Market Trading Hours table in the members area for the schedule of all the instruments that are subject to changes.</p>
    </div>

    <div class="news">
        <h4>CrisOption wins Best Trading Experience at the 2019 World Finance Forex Awards!</h4>
        <p><span class="news-p">09.04.2019</span></p>
        <p>CrisOption are extremely proud to have received the award for Best Trading Experience at the 2019 World Finance Forex Awards 2019. World Finance magazine is both a prestigious and influential body, and we are honored to be the recipients of such a revered accolade.</p>
    </div>

    <div class="news">
        <h4>Spreads On Cryptocurrencies Now Even Lower</h4>
        <p><span class="news-p">13.03.2019</span></p>
        <p>CrisOption is proud to announce that we have once again lowered spreads on Ripple and Ethereum. These popular cryptocurrencies were introduced to our clients in 2017. During that time cryptocurrencies were one of most popular asset classes we offered.</p>
    </div>

    <div class="news">
        <h4>New innovative trading product launched - TrustedTrade</h4>
        <p><span class="news-p">11.02.2019</span></p>
        <p>CrisOption has officially launched its latest trading innovation - TrustedTrade. Based on diverse vanilla options, this new product allows CrisOption clients to trade without margin requirements, high leverage, in a way that is compliant with ESMA regulations, and features zero spreads.</p>
    </div>

    <div class="news">
        <h4>CrisOption launches bold website revamp and updated brand</h4>
        <p><span class="news-p">03.01.2019</span></p>
        <p>CrisOption launched its revamped website, with a simplified yet bold aesthetic. Working with two award winning brand and marketing consultants the CrisOption marketing team developed, refined and updated the functionality, visuals and content of their website.</p>
    </div>

    <div class="news">
        <h4>CrisOption launches the crypto-markets' best kept secret - Ethereum and Ripple.</h4>
        <p><span class="news-p">16.12.2018</span></p>
        <p>Bitcoin was immensely popular when we introduced it to our customers in 2017. After closely following the innovative cryptocurrency markets we found two more immensely interesting (but less visible) cryptos to add to our offerings - Ethereum and Ripple.</p>
    </div>

    <div class="news">
        <h4>Bitcoin on MetaTrader 4</h4>
        <p><span class="news-p">09.11.2018</span></p>
        <p>We had a great response from our customers when we introduced Bitcoin to our roster of tradable instruments. This inspired us to take our offering a step further and optimize our clients’ trading experience by adding the ability and choice to trade Bitcoin on one of the most widely used trading platforms.</p>
    </div>

    <div class="news">
        <h4>Japanese Elections - its business as usual with CrisOption</h4>
        <p><span class="news-p">20.10.2018</span></p>
        <p>While most brokers are increasing margins and changing trading conditions for JPY crosses - ahead of the Japanese general elections happening on the 22nd of October, CrisOption and its clients' trading conditions will remain unaffected.</p>
    </div>

    <div class="news">
        <h4>CrisOption gives back to the community</h4>
        <p><span class="news-p">14.08.2018</span></p>
        <p>Today we visited the PASYKAF headquarters, it was a deeply emotional and humbling experience meeting the passionate staff that give so much to comfort so many people. As a reflection of what CrisOption believes in, we have whole-heartily given to the Cyprus Cancer Association (PASYKAF) which we are sure will help the organization continue providing their services to those in need.</p>
    </div>

    <div class="news">
        <h4>CrisOption Launches CFD Trading on the World's #1 Cryptocurrency</h4>
        <p><span class="news-p">06.06.2018</span></p>
        <p>Following record gains posted by Bitcoin and other cryptocurrencies over recent months, leading CFD provider, CrisOption, has today announced the launch of its Bitcoin CFD. The introduction of CFD trading on Bitcoin marks the first stage of CrisOption' decisive move into the surging cryptocurrency arena, with the release of other cryptocurrencies scheduled to take place in the near future..</p>
    </div>

    <div class="news">
        <h4>Exciting Changes on the CrisOption Trading Platform</h4>
        <p><span class="news-p">18.05.2018</span></p>
        <p>We are excited to announce that we have integrated our vanilla options platform with the CrisOption platform to make trading even simpler. The aim of this integration which went live this week, is to enhance user experience on our platform. For the time being you can still view the ORE vanilla options platform in a separate window as you used to, but you can also simply choose the ‘vanilla options' deal tab and start trading within your CrisOption platform.</p>
    </div>

    <div class="news">
        <h4>The CrisOption South Africa Tour was a Memorable Experience</h4>
        <p><span class="news-p">02.04.2018</span></p>
        <p>The team met with almost 200 traders who were split between four seminars, Durban was fully booked but we couldn’t say no to enthusiastic last minute attendees so seats were added. Our four experts covered all basic trading topics in the seminars including an insight to CrisOption trading, fundamental analysis, technical analysis and the psychology of trading.</p>
    </div>

    <div class="news">
        <h4>CrisOption Launches a New Unique Tool - 'Freeze Rate'</h4>
        <p><span class="news-p">26.02.2018 </span></p>
        <p>We are proud to launch “Freeze Rate” another industry first which allows you to freeze a desired rate before making a buy or sell decision, for free. “The driving force behind our inventions is finding solutions to our traders’ needs. This time we thought “what if you could freeze time before making a decision to place or close a trade?”. At first it sounded impossible but we made it happen.”</p>
    </div>

    <div class="news">
        <h4>The making of dealCancellation</h4>
        <p><span class="news-p">05.01.2018 </span></p>
        <p>CrisOption recently launched a first for the online trading industry with a new and innovative product that allows traders to cancel losing deals up to 60 minutes of opening. As a broker that makes money on the spread of trades, how and why would it develop such a tool? We’re speaking to some of the key players in the conception and development behind dealCancellation to find out why.</p>
    </div>
</div>

<div class="index-last">
    <div class="ending">
        <ul>
            <li><i class="fas fa-user"></i><a target="_blank" href="{% url 'basic_app:signup' %}">Create Account</a></li>
            <li><i class="fas fa-user"></i><a href="{% url 'basic_app:refer' %}">Refer A Friend</a></li>
            <li><i class="fa fa-sign-in" aria-hidden="true"></i><a target="_blank" href="{% url 'basic_app:login' %}"> Sign In</a></li>
        </ul>
        <div class="images">
            <img src="{% static 'images/bitcoin.jfif' %}" alt="">
            <img src="{% static 'images/master.jfif' %}" alt="">
            <img src="{% static 'images/visa.jfif' %}" alt="">
            <img src="{% static 'images/paypal.jfif' %}" alt="">
            <img src="{% static 'images/neteller.jfif' %}" alt="">
            <img class="hide" src="{% static 'images/payeer.jfif' %}" alt="">
            <img class="hide" src="{% static 'images/maestro.jfif' %}" alt="">
            <img class="hide" src="{% static 'images/giropay.jfif' %}" alt="">
            
        </div>
    </div>

    <div class="last-header">
        <div class="market-1">
            <h3>Markets</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:products_forex' %}">Forex</a></li>
                <li><a href="{% url 'basic_app:products_indices' %}">Indices</a></li>
                <li><a href="{% url 'basic_app:products_cfds' %}">CFDs</a></li>
                <li><a href="{% url 'basic_app:products_stock' %}">Stocks</a></li>
                <li><a href="{% url 'basic_app:products_crypto' %}">Cryptocurrencies</a></li>
            </ul>    
        </div>

        <div class="market-2">
            <h3>Markets</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:products_metal' %}">Metals</a></li>
                <li><a href="{% url 'basic_app:products_futures' %}">Futures</a></li>
                <li><a href="{% url 'basic_app:products_energies' %}">Energies</a></li>
                <li><a href="{% url 'basic_app:products_bonds' %}">Bonds</a></li>
                <li><a href="{% url 'basic_app:products_commodities' %}">Commodities</a></li>
            </ul>    
        </div>

        <div class="general-1">
            <h3>General</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:why_us' %}">Why Us</a></li>
                <li><a href="{% url 'basic_app:privacy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'basic_app:terms' %}">Legal Terms</a></li>
                <li><a href="{% url 'basic_app:risk_warning' %}">Risk Warning</a></li>
                <li><a href="{% url 'basic_app:safety_funds' %}">Funds Safety</a></li>
            </ul>    
        </div>

        <div class="general-2 hide">
            <h3>General</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:contact_us' %}">Contact Us</a></li>
                <li><a href="{% url 'basic_app:company_news' %}">Company News</a></li>
                <li><a href="{% url 'basic_app:global_awards' %}">Global Awards </a></li>
                <li><a href="{% url 'basic_app:faq' %}">FAQs</a></li>
                <li><a href="{% url 'basic_app:license' %}">Licenses & Regulation</a></li>
            </ul>   
        </div>

        <div class="trading-1 hide">
            <h3>Trading</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:accounts_types' %}">Account Types</a></li>
                <li><a href="{% url 'basic_app:accounts_spreads' %}">Spreads</a></li>
                <li><a href="{% url 'basic_app:accounts_deposit-withdraw' %}">Trading Conditions</a></li>
                <li><a href="{% url 'basic_app:accounts_trading-conditions' %}">Trading Platforms</a></li>
                <li><a href="{% url 'basic_app:accounts_trading-platforms' %}">Deposit/Withdrawal</a></li>
            </ul>   
        </div>

        <div class="education-1 hide">
            <h3>Education</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:education_forex' %}">What is Forex</a></li>
                <li><a href="{% url 'basic_app:education_fx-strategy' %}">Forex Trading Strategies</a></li>
                <li><a href="{% url 'basic_app:education_cfd-trading' %}">CFD Trading</a></li>
                <li><a href="{% url 'basic_app:education_cfd-advantage' %}">Advantages Of CFDs</a></li>
                <li><a href="{% url 'basic_app:education_cfd-glossary' %}">CFD Glossary</a></li>
            </ul>   
        </div>

    </div>

    <div class="support">
        <p>Message us on <a href="mailto:crisoption00@gmail.com">support@crisoption.com</a></p>
    </div>

    <div class="license">
        <p>CrisOption (www.crisoption.com) is License by the Cyprus Securities and 
            Exchange Commission with CIF license number 104/14, regulated by the International Financial Services 
            Commission of Belize with License numbers IFSC/59/365/TC and IFSC/50/317/AEM.</p>
    </div>

    <div class="secure">
        <i class="fa-solid fa-globe fa-4x py-1"></i>
        <img src="{% static 'images/secure1.png' %}" alt=""> 
        <img src="{% static 'images/secure2.png' %}" alt=""> 
    </div>
</div>

<div class="footer">
    <p>CrisOption &copy; 2023. All Rights Reserved.</p>
</div>

<script src="//code.tidio.co/bgg03filtv4zwsidkxkkxsyxxx22zcag.js" async></script> 

{% endblock %}















