{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="news-title global-title">
    <h2>CrisOption Brand Global Awards</h2>
    <p>Named one of the world's fastest growing forex brokers, CrispFinances has made revolutionary progress in a very short amount of time. As we grow, our mission only becomes clearer and our commitment to our clients and partners stronger. We consider every award we receive a much esteemed recognition of this commitment and are extremely honored to have been commended by the industry's most prestigious award bodies.</p>
    <p>Our awards are testimony to our international character, outstanding customer service and innovative services. Take a look at our accomplishments below!</p>
</div>

<div class="awards-images">
    <div class="a-img">
        <div>
            <img src="{% static 'images/leaf-2020a.jfif' %}" alt="">
            <h5>CNFOREX AWARDS</h5>
            <p>Best Trading Institution</p>
        </div>
        <div>
            <img src="{% static 'images/leaf-2020b.jfif' %}" alt="">
            <h5>FOREX REPORTS AWARDS</h5>
            <p>Best Broker</p>
        </div>
        <div>
            <img src="{% static 'images/leaf-2020c.jfif' %}" alt="">
            <h5>MENA 14</h5>
            <p>Most Trusted Forex Broker</p>
        </div>
        <div>
            <img src="{% static 'images/leaf-2020d.jfif' %}" alt="">
            <h5>World Finance Awards</h5>
            <p>Most Promising Forex Broker</p>
        </div>

    </div>
    <div class="a-img">
        <div>
            <img src="{% static 'images/leaf-2019a.jfif' %}" alt="">
            <h5>FXDAILYINFO</h5>
            <p>Best Trading Experience</p>
        </div>
        <div>
            <img src="{% static 'images/leaf-2019b.jfif' %}" alt="">
            <h5>WORLD FINANCE AWARDS</h5>
            <p>Best Investment Broker</p>
        </div>
        <div>
            <img src="{% static 'images/leaf-2019c.jfif' %}" alt="">
            <h5>FXEYE.COM</h5>
            <p>Forex Brand of the Year 2018 (China)</p>
        </div>
        <div>
            <img src="{% static 'images/leaf-2019d.jfif' %}" alt="">
            <h5>INTERNATIONAL BUSINEESS MAGAZINE</h5>
            <p>Best Forex Education Provider Africa</p>
        </div>
    </div>
    <div class="a-img">
        <div>
            <img src="{% static 'images/leaf-2018a.jfif' %}" alt="">
            <h5>WORLD FINANCE AWARDS</h5>
            <p>Best Trading Conditions</p>
        </div>
        <div>
            <img src="{% static 'images/leaf-2018b.jfif' %}" alt="">
            <h5>FXEMPIRE</h5>
            <p>Most Innovative Broker</p>
        </div>
        <div>
            <img src="{% static 'images/leaf-2018c.jfif' %}" alt="">
            <h5>WORLD FINANCE AWARDS</h5>
            <p>Best Trading Experience</p>
        </div>
        <div>
            <img src="{% static 'images/leaf-2018d.jfif' %}" alt="">
            <h5>WORLD FINANCE AWARDS</h5>
            <p>Best FX Broker Asia</p>
        </div>
    </div>
    <div class="a-img">
        <div>
            <img src="{% static 'images/leaf-2017a.jfif' %}" alt="">
            <h5>GLOBAL INVESTOR MENA AWARDS</h5>
            <p>Forex Broker Of The Year Award</p>
        </div>
        <div>
            <img src="{% static 'images/leaf-2017b.jfif' %}" alt="">
            <h5>THE EUROPEAN MAGAZINE AWARDS</h5>
            <p>Forex Broker Firm Of The Year Europe</p>
        </div>
        <div>
            <img src="{% static 'images/leaf-2017c.jfif' %}" alt="">
            <h5>WORLD FINANCE AWARDS</h5>
            <p>Best Forex Broker Asia Award</p>
        </div>
        <div>
            <img src="{% static 'images/leaf-2017d.jfif' %}" alt="">
            <h5>WORLD FINANCE AWARDS</h5>
            <p>Best Customer Service Global</p>
        </div>
    </div>
    <div class="a-img">
        <div>
            <img src="{% static 'images/leaf-2016a.jfif' %}" alt="">
            <h5>EUROPEAN CEO AWARDS</h5>
            <p>Best Fx Broker Award Year 2016</p>
        </div>
        <div>
            <img src="{% static 'images/leaf-2016b.jfif' %}" alt="">
            <h5>FOREX TRADER AWARDS</h5>
            <p>Fatest Order Execution</p>
        </div>
        <div>
            <img src="{% static 'images/leaf-2016c.jfif' %}" alt="">
            <h5>FXSTREETS AWARDS</h5>
            <p>Best Sell-Side Analysis Contributor</p>
        </div>
        <div>
            <img src="{% static 'images/leaf-2016d.jfif' %}" alt="">
            <h5>THE 9TH SAUDI MONEY EXPO</h5>
            <p>Top Customer Service Provider</p>
        </div>
    </div>
    <div class="a-img">
        <div>
            <img src="{% static 'images/leaf-2015a.jfif' %}" alt="">
            <h5>FXEMPIRE</h5>
            <p>Most Educational Broker Award</p>
        </div>
        <div>
            <img src="{% static 'images/leaf-2015b.jfif' %}" alt="">
            <h5>GLOBAL BANKING AND FINANCE AWARDS</h5>
            <p>Fastest Growing ECN Broker Asia</p>
        </div>
        <div>
            <img src="{% static 'images/leaf-2015c.jfif' %}" alt="">
            <h5>GLOBAL BANKING AND FINANCE AWARDS</h5>
            <p>Best Partner Program Asia</p>
        </div>

        <div>
            <img src="{% static 'images/leaf-2015d.jfif' %}" alt="">
            <h5>HEXUN.COM</h5>
            <p>Investor Education Award</p>
        </div>
    </div>
</div>

<div class="index-last">
    <div class="ending">
        <ul>
            <li><i class="fas fa-user"></i><a target="_blank" href="{% url 'basic_app:signup' %}">Create Account</a></li>
            <li><i class="fas fa-user"></i><a href="{% url 'basic_app:refer' %}">Refer A Friend</a></li>
            <li><i class="fa fa-sign-in" aria-hidden="true"></i><a target="_blank" href="{% url 'basic_app:login' %}"> Sign In</a></li>
        </ul>
        <div class="images">
            <img src="{% static 'images/bitcoin.jfif' %}" alt="">
            <img src="{% static 'images/master.jfif' %}" alt="">
            <img src="{% static 'images/visa.jfif' %}" alt="">
            <img src="{% static 'images/paypal.jfif' %}" alt="">
            <img src="{% static 'images/neteller.jfif' %}" alt="">
            <img class="hide" src="{% static 'images/payeer.jfif' %}" alt="">
            <img class="hide" src="{% static 'images/maestro.jfif' %}" alt="">
            <img class="hide" src="{% static 'images/giropay.jfif' %}" alt="">
            
        </div>
    </div>

    <div class="last-header">
        <div class="market-1">
            <h3>Markets</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:products_forex' %}">Forex</a></li>
                <li><a href="{% url 'basic_app:products_indices' %}">Indices</a></li>
                <li><a href="{% url 'basic_app:products_cfds' %}">CFDs</a></li>
                <li><a href="{% url 'basic_app:products_stock' %}">Stocks</a></li>
                <li><a href="{% url 'basic_app:products_crypto' %}">Cryptocurrencies</a></li>
            </ul>    
        </div>

        <div class="market-2">
            <h3>Markets</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:products_metal' %}">Metals</a></li>
                <li><a href="{% url 'basic_app:products_futures' %}">Futures</a></li>
                <li><a href="{% url 'basic_app:products_energies' %}">Energies</a></li>
                <li><a href="{% url 'basic_app:products_bonds' %}">Bonds</a></li>
                <li><a href="{% url 'basic_app:products_commodities' %}">Commodities</a></li>
            </ul>    
        </div>

        <div class="general-1">
            <h3>General</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:why_us' %}">Why Us</a></li>
                <li><a href="{% url 'basic_app:privacy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'basic_app:terms' %}">Legal Terms</a></li>
                <li><a href="{% url 'basic_app:risk_warning' %}">Risk Warning</a></li>
                <li><a href="{% url 'basic_app:safety_funds' %}">Funds Safety</a></li>
            </ul>    
        </div>

        <div class="general-2 hide">
            <h3>General</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:contact_us' %}">Contact Us</a></li>
                <li><a href="{% url 'basic_app:company_news' %}">Company News</a></li>
                <li><a href="{% url 'basic_app:global_awards' %}">Global Awards </a></li>
                <li><a href="{% url 'basic_app:faq' %}">FAQs</a></li>
                <li><a href="{% url 'basic_app:license' %}">Licenses & Regulation</a></li>
            </ul>   
        </div>

        <div class="trading-1 hide">
            <h3>Trading</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:accounts_types' %}">Account Types</a></li>
                <li><a href="{% url 'basic_app:accounts_spreads' %}">Spreads</a></li>
                <li><a href="{% url 'basic_app:accounts_deposit-withdraw' %}">Trading Conditions</a></li>
                <li><a href="{% url 'basic_app:accounts_trading-conditions' %}">Trading Platforms</a></li>
                <li><a href="{% url 'basic_app:accounts_trading-platforms' %}">Deposit/Withdrawal</a></li>
            </ul>   
        </div>

        <div class="education-1 hide">
            <h3>Education</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:education_forex' %}">What is Forex</a></li>
                <li><a href="{% url 'basic_app:education_fx-strategy' %}">Forex Trading Strategies</a></li>
                <li><a href="{% url 'basic_app:education_cfd-trading' %}">CFD Trading</a></li>
                <li><a href="{% url 'basic_app:education_cfd-advantage' %}">Advantages Of CFDs</a></li>
                <li><a href="{% url 'basic_app:education_cfd-glossary' %}">CFD Glossary</a></li>
            </ul>   
        </div>

    </div>

    <div class="support">
        <p>Message us on <a href="mailto:crisoption00@gmail.com">support@crisoption.com</a></p>
    </div>

    <div class="license">
        <p>CrisOption (www.crisoption.com) is License by the Cyprus Securities and 
            Exchange Commission with CIF license number 104/14, regulated by the International Financial Services 
            Commission of Belize with License numbers IFSC/59/365/TC and IFSC/50/317/AEM.</p>
    </div>

    <div class="secure">
        <i class="fa-solid fa-globe fa-4x py-1"></i>
        <img src="{% static 'images/secure1.png' %}" alt=""> 
        <img src="{% static 'images/secure2.png' %}" alt=""> 
    </div>
</div>

<div class="footer">
    <p>CrisOption &copy; 2023. All Rights Reserved.</p>
</div>

<script src="//code.tidio.co/bgg03filtv4zwsidkxkkxsyxxx22zcag.js" async></script>
{% endblock %}