{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="index-container about-all">
    <div class="why-us hide">
        <h3>ABOUT</h3>
        <ul>
            <li><a href="{% url 'basic_app:why_us' %}">Why us</a></li>
            <li><a href="{% url 'basic_app:contact_us' %}">Contact Us</a></li>
            <li><a href="{% url 'basic_app:company_news' %}">Company News</a></li>
            <li><a href="{% url 'basic_app:global_awards' %}">Global Awards</a></li>
            <li><a class="current" href="{% url 'basic_app:privacy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'basic_app:risk_warning' %}">Risk Warning</a></li>
            <li><a href="{% url 'basic_app:safety_funds' %}">Safety Of Funds</a></li>
            <li><a href="{% url 'basic_app:license' %}">Licenses & Regulation</a></li>
            <li><a href="{% url 'basic_app:terms' %}">Terms And Conditions</a></li>
            <li><a href="{% url 'basic_app:faq' %}">FAQ</a></li>
        </ul>

        <div class="customer-service">
            <p><img src="{% static 'images/customer-service.png' %}" alt=""></p>
        </div>

        <div class="support-message">
            <p>Contact us at <a href="mailto:crisoption00@gmail.com">support@crisoption.com</a></p>
        </div>
    </div>

    <div class="index-legal">
        <div class="discover why-title">
            <h3>Privacy Policy</h3>
            <p>CrisOption is fully committed to the protection of the privacy of personal and financial information of its clients.  We carefully explain how we handle the data of our clients and ensure its protection. By opening an account, the client hereby gives CrisOption its consent to such collection, processing, storage, and use of personal information by CrisOption as explained below.</p>
        </div>

        <div class="discover gen-title">
            <h4>Collection Of Personal Information</h4>
            <p>CrisOption collects the necessary information required to open, transact, and safeguard your assets and your privacy, and provides you with the services you need. CrisOption gathers information from you and may, in certain circumstances, gather information from relevant banks and/or credit agencies, and/or other sources which help us better profile your requirements and preferences and provide improved services to you.</p> 
            <br>
            
            <h4>The information CrisOption collects may include: <br>
                Application information</h4>
            <p>Personal information you provide us with in your application form, such as your name, address, date of birth, email address, etc., in order to facilitate the evaluation of your application. The information you provide us with is also used for purposes of communicating with you.</p>
            <br>

            <h4>Transaction Information</h4>
            <p>Information about the anticipated volume and value of your transactions with us, and income information provided in order to enable the construction of your economic profile.</p>
            <br>

            <h4>Verification Information</h4>
            <p>Information necessary to verify your identity, such as an identification card, passport, or driver's license. This also includes background information we receive about you from public records, or from other entities not affiliated with CrisOption.</p>
            <br>

            <h4>Usage of Personal Information/Opt Out</h4>
            <p>No personal information will be shared with any third parties without the customer's permission.
                CrisOption uses personal information only as required, in order to provide quality service and security to you. This information helps improve services, customize the browsing experience, and enables us to inform you of additional products, services, or promotions relevant to you and the products and services you need, as well as your consent for use of such data. <br>
                Although you are not required to provide CrisOption  with any of the personal information that we may request of you, please note that failure to do so, could result in CrisOption being unable to open your account, or provide you with the service you need. <br>
                Whilst we attempt to ensure that all the information we hold about you is current, accurate, and complete, we urge you to immediately contact us if any of your personal details have changed.</p>

            <br>    
            
            <h4>Protection Of Personal Information</h4>
            <p>Any personal information you provide us will be treated as confidential, shared only within CrisOption and its affiliates, and will not be disclosed to any third party, except under any regulatory or legal proceedings. <br>
                The personal information that you provide while registering yourself as a user of the site is protected. You can access your registration information through a password selected by you. This password is encrypted, known only to you, and will not be revealed to anyone else. <br>
                Registration information is safely stored on secure servers that only authorized personnel have access to via a secure password. The company encrypts all personal information, as it is transferred to the company, thus making all of the necessary effort to prevent unauthorized parties from viewing any of this  information.</p>
            
            <br>
            
            <h4>Affiliates And Partners</h4> <br>
            <h4>Partnership</h4>
            <p>CrisOption Partnership program is open to anyone. Our competitive partnership offers make us a valued partner for institutions, business introducers, white labels, affiliates, and regional representatives worldwide.</p>
            <br>

            <h4>Who can benefit from CrisOption Partnership Program?</h4>
            <p>* Large institutions who want to outsource their entire Forex department and operations * Small companies with state-of-the-art marketing, technology, and liquidity solutions for the Forex industry * Fund Managers who want to make additional profit based on their existing client base. * Business introducers who want to introduce their client base to CrisOption. * An individual  who refers their friends to CrisOption as potential clients.</p>
            <br>

            <h4>What Advantages does the CrisOption Partnership Program offer?</h4>
            <p>* Customer support, sales, and retention strategies * Sound risk-management policies from CrisOption * Innovative marketing strategies to help generate and convert traffic into actual clients * High paying, flexible, and competitive commission structures. * A personal, dedicated, account manager to help you with all your needs. * Customized solutions for business introducers, and more!</p>
            <br>

            <h4>Non-affiliated third parties</h4>
            <p>CrisOption  does not sell, license, lease, or otherwise disclose personal information to third parties, except as described in this privacy statement.
                CrisOption reserves the right to disclose information as necessary to credit reporting or collection agencies as reasonably required in order to provide services to you.
                In order to  help us improve our services, CrisOption  may involve third parties to help carry out certain internal functions, such as account processing, fulfillment, client service, client satisfaction surveys, or other data collection activities relevant to our business. Use of the shared information may also be used to provide professional, legal, or accounting advice to CrisOption. Use of shared information is strictly limited to the performance of the above, and is not permitted for any other use. All third parties with which CrisOption shares personal information are required to protect this information in accordance with all relevant legislation, and in a manner similar to the way CrisOption  protects the same. CrisOption  will not share personal information with third parties.
                A business introducer may have access to your information. You hereby unambiguously and unequivocally consent to the sharing of information with a business introducer.
                You acknowledge that in order to provide services to you, it may be necessary for information to be transferred outside of the European Economic area, and you consent to such a transfer.
                </p>
            <br>

            <h4>Regulatory Disclosure</h4>
            <p>CrisOption reserves the right to disclose personal information to third parties where required by law, regulatory, law enforcement, or other government authority of a competent jurisdiction in order to protect our rights, and/or to comply with such legal proceedings. Such disclosure shall occur on a ‘need-to-know’ basis, unless otherwise instructed by a regulatory, or other government authority. Under such circumstances, CrisOption shall expressly inform the third party regarding the confidential nature of the information.</p>
            <br>

            <h4>Restriction Of Responsibilitites</h4>
            <p>CrisOption is not responsible for the privacy policies, or the content of sites forex-premium.com links to, and has no control of the use or protection of information provided by clients or collected by those sites. Whenever a client chooses to link to a co-branded website, or to a linked web site, this client may be asked to provide proof of registration or other information. Please note that such information is recorded by a third party, and will be governed by the privacy policy of that third party.</p>
            <br>

            <h4>Privacy Statement Updates</h4>
            <p>From time to time, CrisOption may update this Privacy Statement. In the event that CrisOption materially changes this Privacy Statement, including how we collect, process or use your personal information, the revised Privacy Statement will be posted to the website. The clients agrees to accept posting of a revised Privacy Statement electronically on the web site as actual notice to him or her. Any dispute over our Privacy Statement is subject to this notice, and our Customer Agreement. CrisOption  encourages client to periodically check back and review this policy, so that he or she  always will know what information CrisOption collects, how CrisOption uses it, and to whom CrisOption may disclose it.</p>
            <br>

            <h4>Agreement</h4>
            <p>I have read, understood, and agreed to the above Privacy Policy Agreement, and I confirm that I have full power and authority to enter into this Agreement.</p>

        </div>
    </div>

    <div class="why-us big-hide">
        <h3>ABOUT</h3>
        <ul>
            <li><a href="{% url 'basic_app:why_us' %}">Why us</a></li>
            <li><a href="{% url 'basic_app:contact_us' %}">Contact Us</a></li>
            <li><a href="{% url 'basic_app:company_news' %}">Company News</a></li>
            <li><a href="{% url 'basic_app:global_awards' %}">Global Awards</a></li>
            <li><a class="current" href="{% url 'basic_app:privacy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'basic_app:risk_warning' %}">Risk Warning</a></li>
            <li><a href="{% url 'basic_app:safety_funds' %}">Safety Of Funds</a></li>
            <li><a href="{% url 'basic_app:license' %}">Licenses & Regulation</a></li>
            <li><a href="{% url 'basic_app:terms' %}">Terms And Conditions</a></li>
            <li><a href="{% url 'basic_app:faq' %}">FAQ</a></li>
        </ul>

        <div class="customer-service">
            <p><img src="{% static 'images/customer-service.png' %}" alt=""></p>
        </div>

        <div class="support-message">
            <p>Contact us at <a href="mailto:crisoption00@gmail.com">support@crisoption.com</a></p>
        </div>
    </div>
</div>

<div class="index-last">
    <div class="ending">
        <ul>
            <li><i class="fas fa-user"></i><a target="_blank" href="{% url 'basic_app:signup' %}">Create Account</a></li>
            <li><i class="fas fa-user"></i><a href="{% url 'basic_app:refer' %}">Refer A Friend</a></li>
            <li><i class="fa fa-sign-in" aria-hidden="true"></i><a target="_blank" href="{% url 'basic_app:login' %}"> Sign In</a></li>
        </ul>
        <div class="images">
            <img src="{% static 'images/bitcoin.jfif' %}" alt="">
            <img src="{% static 'images/master.jfif' %}" alt="">
            <img src="{% static 'images/visa.jfif' %}" alt="">
            <img src="{% static 'images/paypal.jfif' %}" alt="">
            <img src="{% static 'images/neteller.jfif' %}" alt="">
            <img class="hide" src="{% static 'images/payeer.jfif' %}" alt="">
            <img class="hide" src="{% static 'images/maestro.jfif' %}" alt="">
            <img class="hide" src="{% static 'images/giropay.jfif' %}" alt="">
            
        </div>
    </div>

    <div class="last-header">
        <div class="market-1">
            <h3>Markets</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:products_forex' %}">Forex</a></li>
                <li><a href="{% url 'basic_app:products_indices' %}">Indices</a></li>
                <li><a href="{% url 'basic_app:products_cfds' %}">CFDs</a></li>
                <li><a href="{% url 'basic_app:products_stock' %}">Stocks</a></li>
                <li><a href="{% url 'basic_app:products_crypto' %}">Cryptocurrencies</a></li>
            </ul>    
        </div>

        <div class="market-2">
            <h3>Markets</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:products_metal' %}">Metals</a></li>
                <li><a href="{% url 'basic_app:products_futures' %}">Futures</a></li>
                <li><a href="{% url 'basic_app:products_energies' %}">Energies</a></li>
                <li><a href="{% url 'basic_app:products_bonds' %}">Bonds</a></li>
                <li><a href="{% url 'basic_app:products_commodities' %}">Commodities</a></li>
            </ul>    
        </div>

        <div class="general-1">
            <h3>General</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:why_us' %}">Why Us</a></li>
                <li><a href="{% url 'basic_app:privacy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'basic_app:terms' %}">Legal Terms</a></li>
                <li><a href="{% url 'basic_app:risk_warning' %}">Risk Warning</a></li>
                <li><a href="{% url 'basic_app:safety_funds' %}">Funds Safety</a></li>
            </ul>    
        </div>

        <div class="general-2 hide">
            <h3>General</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:contact_us' %}">Contact Us</a></li>
                <li><a href="{% url 'basic_app:company_news' %}">Company News</a></li>
                <li><a href="{% url 'basic_app:global_awards' %}">Global Awards </a></li>
                <li><a href="{% url 'basic_app:faq' %}">FAQs</a></li>
                <li><a href="{% url 'basic_app:license' %}">Licenses & Regulation</a></li>
            </ul>   
        </div>

        <div class="trading-1 hide">
            <h3>Trading</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:accounts_types' %}">Account Types</a></li>
                <li><a href="{% url 'basic_app:accounts_spreads' %}">Spreads</a></li>
                <li><a href="{% url 'basic_app:accounts_deposit-withdraw' %}">Trading Conditions</a></li>
                <li><a href="{% url 'basic_app:accounts_trading-conditions' %}">Trading Platforms</a></li>
                <li><a href="{% url 'basic_app:accounts_trading-platforms' %}">Deposit/Withdrawal</a></li>
            </ul>   
        </div>

        <div class="education-1 hide">
            <h3>Education</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:education_forex' %}">What is Forex</a></li>
                <li><a href="{% url 'basic_app:education_fx-strategy' %}">Forex Trading Strategies</a></li>
                <li><a href="{% url 'basic_app:education_cfd-trading' %}">CFD Trading</a></li>
                <li><a href="{% url 'basic_app:education_cfd-advantage' %}">Advantages Of CFDs</a></li>
                <li><a href="{% url 'basic_app:education_cfd-glossary' %}">CFD Glossary</a></li>
            </ul>   
        </div>

    </div>

    <div class="support">
        <p>Message us on <a href="mailto:crisoption00@gmail.com">support@crisoption.com</a></p>
    </div>

    <div class="license">
        <p>CrisOption (www.crisoption.com) is License by the Cyprus Securities and 
            Exchange Commission with CIF license number 104/14, regulated by the International Financial Services 
            Commission of Belize with License numbers IFSC/59/365/TC and IFSC/50/317/AEM.</p>
    </div>

    <div class="secure">
        <i class="fa-solid fa-globe fa-4x py-1"></i>
        <img src="{% static 'images/secure1.png' %}" alt=""> 
        <img src="{% static 'images/secure2.png' %}" alt=""> 
    </div>
</div>

<div class="footer">
    <p>CrisOption &copy; 2023. All Rights Reserved.</p>
</div>


<script src="//code.tidio.co/bgg03filtv4zwsidkxkkxsyxxx22zcag.js" async></script>
{% endblock %}