{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="news-title deposit-headers">
    <h2>Deposit And Withdrawal</h2>
    <h3>FUND YOUR ACCOUNT AND ENTER THE EXCITING WORLD OF FINANCIAL MARKETS</h3>
</div>

<div class="p-first">
    <p>This is where you start – by funding your account. CrisOption doesn’t charge any fees when you fund your account. We offer you multiple ways to deposit and withdraw funds including bank transfer, debit & credit cards, online cards and a selection of E-Wallets. <br> <br>

        Although the amount of choices available to you can be overwhelming, the table below will help you choose the best method for you. Find out how long it takes to process a deposit and withdrawal transaction which can be a consideration depending on what type of trading you intend on performing.</p>
</div>


<div class="deposit-body">
    <div class="content">
        <p><span class="bold esma extra">Methods</span></p> 
        <p><span class="bold esma extra">Countries</span></p>
        <p><span class="bold esma extra">Deposit Processing Time</span></p>
        <p><span class="bold esma extra">Withdrawal Processing Time</span></p>
    </div>

    <div class="content">
        <p><img src="{% static 'images/bitcoin.jfif' %}" alt=""></p>
        <p>All Countries</p>
        <p>Instant</p>
        <p>Instant</p>
    </div>

    <div class="content">
        <p><img src="{% static 'images/master.jfif' %}" alt=""></p>
        <p>All Countries</p>
        <p>Instant</p>
        <p>Instant</p>
    </div>

    <div class="content">
        <p><img src="{% static 'images/visa.jfif' %}" alt=""></p>
        <p>All Countries Excluding China</p>
        <p>Instant</p>
        <p>Instant</p>
    </div>

    <div class="content">
        <p><img src="{% static 'images/paypal.jfif' %}" alt=""></p>
        <p>All Countries</p>
        <p>Instant</p>
        <p>Instant</p>
    </div>

    <div class="content">
        <p><img src="{% static 'images/bank.jfif' %}" alt=""></p>
        <p>All Countries</p>
        <p>2 - 5 Working Days</p>
        <p>2 - 5 Working Days</p>
    </div>

    <div class="content">
        <p><img src="{% static 'images/american.jfif' %}" alt=""></p>
        <p>All Countries Excluding APAC</p>
        <p>Instant</p>
        <p>Instant</p>
    </div>

    <div class="content">
        <p><img src="{% static 'images/sofort.jfif' %}" alt=""></p>
        <p>Germany, Austria, Belgium, Netherlands, United Kingdom only</p>
        <p>2 hours</p>
        <p>2 hours</p>
    </div>

    <div class="content">
        <p><img src="{% static 'images/neteller.jfif' %}" alt=""></p>
        <p>All Countries</p>
        <p>Instant</p>
        <p>Instant</p>
    </div>

    <div class="content">
        <p><img src="{% static 'images/giropay.jfif' %}" alt=""></p>
        <p>Germany Only</p>
        <p>2 hours</p>
        <p>2 hours</p>
    </div>

    <div class="content">
        <p><img src="{% static 'images/payeer.jfif' %}" alt=""></p>
        <p>All Countries</p>
        <p>Instant</p>
        <p>Instant</p>
    </div>

    <div class="content">
        <p><img src="{% static 'images/maestro.jfif' %}" alt=""></p>
        <p>All Countries</p>
        <p>Instant</p>
        <p>Instant</p>
    </div>

    <div class="content">
        <p><img src="{% static 'images/venmo.jfif' %}" alt=""></p>
        <p>All Countries</p>
        <p>Instant</p>
        <p>Instant</p>
    </div>


</div>
    
</div>

<div class="last-p">
    <p>* Processing time is based on given third party payment provider estimations and CrisOption is not liable for changes to these estimations.</p>
</div>


<div class="index-last">
    <div class="ending">
        <ul>
            <li><i class="fas fa-user"></i><a target="_blank" href="{% url 'basic_app:signup' %}">Create Account</a></li>
            <li><i class="fas fa-user"></i><a href="{% url 'basic_app:refer' %}">Refer A Friend</a></li>
            <li><i class="fa fa-sign-in" aria-hidden="true"></i><a target="_blank" href="{% url 'basic_app:login' %}"> Sign In</a></li>
        </ul>
        <div class="images">
            <img src="{% static 'images/bitcoin.jfif' %}" alt="">
            <img src="{% static 'images/master.jfif' %}" alt="">
            <img src="{% static 'images/visa.jfif' %}" alt="">
            <img src="{% static 'images/paypal.jfif' %}" alt="">
            <img src="{% static 'images/neteller.jfif' %}" alt="">
            <img class="hide" src="{% static 'images/payeer.jfif' %}" alt="">
            <img class="hide" src="{% static 'images/maestro.jfif' %}" alt="">
            <img class="hide" src="{% static 'images/giropay.jfif' %}" alt="">
            
        </div>
    </div>

    <div class="last-header">
        <div class="market-1">
            <h3>Markets</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:products_forex' %}">Forex</a></li>
                <li><a href="{% url 'basic_app:products_indices' %}">Indices</a></li>
                <li><a href="{% url 'basic_app:products_cfds' %}">CFDs</a></li>
                <li><a href="{% url 'basic_app:products_stock' %}">Stocks</a></li>
                <li><a href="{% url 'basic_app:products_crypto' %}">Cryptocurrencies</a></li>
            </ul>    
        </div>

        <div class="market-2">
            <h3>Markets</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:products_metal' %}">Metals</a></li>
                <li><a href="{% url 'basic_app:products_futures' %}">Futures</a></li>
                <li><a href="{% url 'basic_app:products_energies' %}">Energies</a></li>
                <li><a href="{% url 'basic_app:products_bonds' %}">Bonds</a></li>
                <li><a href="{% url 'basic_app:products_commodities' %}">Commodities</a></li>
            </ul>    
        </div>

        <div class="general-1">
            <h3>General</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:why_us' %}">Why Us</a></li>
                <li><a href="{% url 'basic_app:privacy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'basic_app:terms' %}">Legal Terms</a></li>
                <li><a href="{% url 'basic_app:risk_warning' %}">Risk Warning</a></li>
                <li><a href="{% url 'basic_app:safety_funds' %}">Funds Safety</a></li>
            </ul>    
        </div>

        <div class="general-2 hide">
            <h3>General</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:contact_us' %}">Contact Us</a></li>
                <li><a href="{% url 'basic_app:company_news' %}">Company News</a></li>
                <li><a href="{% url 'basic_app:global_awards' %}">Global Awards </a></li>
                <li><a href="{% url 'basic_app:faq' %}">FAQs</a></li>
                <li><a href="{% url 'basic_app:license' %}">Licenses & Regulation</a></li>
            </ul>   
        </div>

        <div class="trading-1 hide">
            <h3>Trading</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:accounts_types' %}">Account Types</a></li>
                <li><a href="{% url 'basic_app:accounts_spreads' %}">Spreads</a></li>
                <li><a href="{% url 'basic_app:accounts_deposit-withdraw' %}">Trading Conditions</a></li>
                <li><a href="{% url 'basic_app:accounts_trading-conditions' %}">Trading Platforms</a></li>
                <li><a href="{% url 'basic_app:accounts_trading-platforms' %}">Deposit/Withdrawal</a></li>
            </ul>   
        </div>

        <div class="education-1 hide">
            <h3>Education</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:education_forex' %}">What is Forex</a></li>
                <li><a href="{% url 'basic_app:education_fx-strategy' %}">Forex Trading Strategies</a></li>
                <li><a href="{% url 'basic_app:education_cfd-trading' %}">CFD Trading</a></li>
                <li><a href="{% url 'basic_app:education_cfd-advantage' %}">Advantages Of CFDs</a></li>
                <li><a href="{% url 'basic_app:education_cfd-glossary' %}">CFD Glossary</a></li>
            </ul>   
        </div>

    </div>

    <div class="support">
        <p>Message us on <a href="mailto:crisoption00@gmail.com">support@crisoption.com</a></p>
    </div>

    <div class="license">
        <p>CrisOption (www.crisoption.com) is License by the Cyprus Securities and 
            Exchange Commission with CIF license number 104/14, regulated by the International Financial Services 
            Commission of Belize with License numbers IFSC/59/365/TC and IFSC/50/317/AEM.</p>
    </div>

    <div class="secure">
        <i class="fa-solid fa-globe fa-4x py-1"></i>
        <img src="{% static 'images/secure1.png' %}" alt=""> 
        <img src="{% static 'images/secure2.png' %}" alt=""> 
    </div>
</div>

<div class="footer">
    <p>CrisOption &copy; 2023. All Rights Reserved.</p>
</div>
<script src="//code.tidio.co/bgg03filtv4zwsidkxkkxsyxxx22zcag.js" async></script>
 
{% endblock %}