{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="general-body">

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "description": "bitcoin",
        "proName": "BINANCE:BTCUSDT"
      },
      {
        "description": "ethereum",
        "proName": "BINANCE:ETHUSD"
      },
      {
        "description": "gold",
        "proName": "OANDA:XAUUSD"
      },
      {
        "description": "",
        "proName": "FX:EURUSD"
      },
      {
        "description": "litecoin",
        "proName": "BINANCE:LTCUSDT"
      },
      {
        "description": "apple",
        "proName": "NASDAQ:AAPL"
      },
      {
        "description": "meta",
        "proName": "NASDAQ:META"
      },
      {
        "description": "netflix",
        "proName": "NASDAQ:NFLX"
      },
      {
        "description": "gold futures",
        "proName": "COMEX:GC1!"
      },
      {
        "description": "xrp",
        "proName": "BINANCE:XRPUSDT"
      },
      {
        "description": "dow jones 30",
        "proName": "BLACKBULL:US30"
      },
      {
        "description": "USD index",
        "proName": "TVC:DXY"
      }
    ],
    "showSymbolLogo": true,
    "colorTheme": "light",
    "isTransparent": false,
    "displayMode": "adaptive",
    "locale": "en"
  }
    </script>
  </div>
  <!-- TradingView Widget END -->


<div class="refer">
    <h4>Every time you refer a friend or family member to CrisOption, we pay you $50! What's more? Your referral also gets $50! You could earn up to $10,000!</h4> <br> <br>
    <p><a class="refer-btn" href="{% url 'basic_app:refer' %}">Refer Now</a></p>
</div>

<div class="index-container">
    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
    {
    "width": "2000",
    "height": "650",
    "defaultColumn": "overview",
    "screener_type": "crypto_mkt",
    "displayCurrency": "USD",
    "colorTheme": "light",
    "locale": "en",
    "isTransparent": false
  }
    </script>
  </div>

<div class="tradingview-widget-container-hide">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
    {
    "width": "700",
    "height": "580",
    "defaultColumn": "overview",
    "screener_type": "crypto_mkt",
    "displayCurrency": "USD",
    "colorTheme": "light",
    "locale": "en",
    "isTransparent": false
  }
    </script>
  </div>
  <!-- TradingView Widget END -->

  <div class="tradingview-widget-container-hide-mobile">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
    {
    "width": "365",
    "height": "650",
    "defaultColumn": "overview",
    "screener_type": "crypto_mkt",
    "displayCurrency": "USD",
    "colorTheme": "light",
    "locale": "en",
    "isTransparent": false
  }
    </script>
  </div>
  <!-- TradingView Widget END -->

  <div class="index-legal">
    <div class="legal-title">Legal Notice:</div>
    <div class="discover">
      <p>By confirming your email address and phone number, you agree to working with CRISOPTION, the Client Agreement, privacy policy, 
        as well as other policies and conditions posted on the Website.</p>
        <p>This website is property of The CRIS OPTION LIMITED. Location: 7 West Way, Carshalton, Surrey, SM5 4EW, United Kingdom Company Contacts:</p>
        <p>Email:<a href="mailto:crisoption00@gmail.com">support@crisoption.com</a></p>
    
    </div>
    <div class="discover">
        <h3>Discover our unique Next Generation trading platform</h3> <br>
        <p>Trade Forex/CFDs all on our advanced, web-based trading platform designed with you, the user in mind. 
            With our platform, you can trade on the largest lists of assets in the industry. From Currency pairs, and Commodities to stocks 
            and indices, we have it all. Keep your trading costs down with competitive spreads, commissions and low margins. 
            View spreads on our most popular cash instruments.</p> <br>
        <ul>
            <li><i class="fa-solid fa-circle"></i>Advanced trading tools and powerful, multi-platform technology.</li>
            <li><i class="fa-solid fa-circle"></i>Low margins and competitive charges.</li>
            <li><i class="fa-solid fa-circle"></i>24-hour dealing and innovative products.</li>
            <li><i class="fa-solid fa-circle"></i>Free educational support and a range of risk management tools.</li>
        </ul>
    </div>

    <div class="pride">
        <div class="pride-first">
            <h3>41,000,000+</h3>
            <p>__</p>
            <h4>POSITIONS <br>OPENED</h4>
        </div>

        <div class="pride-second">
            <h3>490,000+</h3>
            <p>__</p>
            <h4>ACTIVE <br> CUSTOMERS</h4>
        </div>

        <div class="pride-third">
            <h3>21,000+</h3>
            <p>__</p>
            <h4>PROCESSED <br> ORDERS PER DAY</h4>
        </div>
    </div>

  </div>

</div>

<div class="account-types">
    <h3>ACCOUNT TYPES</h3>
    <h6>CHECKOUT OUR ACCOUNTS THAT WILL BEST SUIT YOUR TRADING STYLE!</h6>

    <div class="accounts">
        <div class="first-account">
            <h3>Basic Account</h3>
            <h4>$1,000-$3,000</h4><br>
            <h4>DEPOSIT</h4><br>
            <p><i class="fa-regular fa-lightbulb"></i></p> <br>
            <p>Spreads: &nbsp; 3%</p> <br>
            <p>Profit Mode: &nbsp; Daily</p>
            <p>Return on Investment(ROI) <br>Duration: &nbsp; 10 Days</p> <br>
            <p>Negative Balance Protection: &nbsp; <span class="good-i"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span></p> <br>
            <p>Stop Out: &nbsp; 50%</p> <br>
            <p>Swap Free: &nbsp; <span class="good-i"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span></p> <br>
            <p>Financial Plan: &nbsp;<span class="bad-i"><i class="fa-solid fa-xmark fa-2x"></i></span></p> <br>
            <p>Risk Management Plan: &nbsp; <span class="bad-i"><i class="fa-solid fa-xmark fa-2x"></i></span></p> <br>
            <p><a href="{% url 'basic_app:signup' %}">Create Account</a></p>

        </div>

        <div class="second-account">
            <h3>Classic Account</h3>
            <h4>$3,000-$5,000</h4><br>
            <h4>DEPOSIT</h4><br>
            <p><i class="fa-regular fa-lightbulb"></i></p> <br>
            <p>Spreads: &nbsp; 5%</p> <br>
            <p>Profit Mode: &nbsp; Daily</p>
            <p>Return on Investment(ROI) <br>Duration: &nbsp; 10 Days</p> <br>
            <p>Negative Balance Protection: &nbsp; <span class="good-i"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span></p> <br>
            <p>Stop Out: &nbsp; 50%</p> <br>
            <p>Swap Free: &nbsp; <span class="good-i"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span></p> <br>
            <p>Financial Plan: &nbsp; <span class="bad-i"><i class="fa-solid fa-xmark fa-2x"></i></span></p> <br>
            <p>Risk Management Plan: &nbsp; <span class="bad-i"><i class="fa-solid fa-xmark fa-2x"></i></span></p> <br>
            <p><a href="{% url 'basic_app:signup' %}">Create Account</a></p>


        </div>

        <div class="third-account">
            <h3>Standard Account</h3>
            <h4>$5,000-$10,000</h4><br>
            <h4>DEPOSIT</h4><br>
            <p><i class="fa-regular fa-lightbulb"></i></p> <br>
            <p>Spreads: &nbsp; 7%</p> <br>
            <p>Profit Mode: &nbsp; Daily</p>
            <p>Return on Investment(ROI) <br>Duration: &nbsp; 15 Days</p> <br>
            <p>Negative Balance Protection: &nbsp; <span class="good-i"><span class="good-i"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span></span></p> <br>
            <p>Stop Out: &nbsp; 50%</p> <br>
            <p>Swap Free: &nbsp; <span class="good-i"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span></p> <br>
            <p>Financial Plan: &nbsp; <span class="good-i"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span> </p> <br>
            <p>Risk Management Plan: &nbsp; <span class="good-i"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span></p> <br>
            <p><a href="{% url 'basic_app:signup' %}">Create Account</a></p>


        </div>

        <div class="fourth-account">
            <h3>Premium Account</h3>
            <h4>$10,000-$20,000</h4><br>
            <h4>DEPOSIT</h4><br>
            <p><i class="fa-regular fa-lightbulb"></i></p> <br>
            <p>Spreads: &nbsp; 10%</p> <br>
            <p>Profit Mode: &nbsp; Daily</p>
            <p>Return on Investment(ROI) <br>Duration: &nbsp; 30 Days</p> <br>
            <p>Negative Balance Protection: &nbsp; <span class="good-i"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span></p> <br>
            <p>Stop Out: &nbsp; 50%</p> <br>
            <p>Swap Free: &nbsp; <span class="good-i"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span></p> <br>
            <p>Financial Plan: &nbsp; <span class="good-i"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span></p> <br>
            <p>Risk Management Plan: &nbsp; <span class="good-i"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span></p> <br>
            <p><a href="{% url 'basic_app:signup' %}">Create Account</a></p>


        </div>
    </div>
</div>

<!-- TradingView Widget BEGIN -->
<div class="last-trading-view">
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
      {
      "symbols": [
        {
          "description": "bitcoin",
          "proName": "BINANCE:BTCUSDT"
        },
        {
          "description": "ethereum",
          "proName": "BINANCE:ETHUSD"
        },
        {
          "description": "gold",
          "proName": "OANDA:XAUUSD"
        },
        {
          "description": "",
          "proName": "FX:EURUSD"
        },
        {
          "description": "litecoin",
          "proName": "BINANCE:LTCUSDT"
        },
        {
          "description": "apple",
          "proName": "NASDAQ:AAPL"
        },
        {
          "description": "meta",
          "proName": "NASDAQ:META"
        },
        {
          "description": "netflix",
          "proName": "NASDAQ:NFLX"
        },
        {
          "description": "gold futures",
          "proName": "COMEX:GC1!"
        },
        {
          "description": "xrp",
          "proName": "BINANCE:XRPUSDT"
        },
        {
          "description": "dow jones 30",
          "proName": "BLACKBULL:US30"
        },
        {
          "description": "USD index",
          "proName": "TVC:DXY"
        }
      ],
      "showSymbolLogo": true,
      "colorTheme": "light",
      "isTransparent": false,
      "displayMode": "adaptive",
      "locale": "en"
    }
      </script>
    </div>
</div>
  <!-- TradingView Widget END -->

<div class="index-last">
    <div class="ending">
        <ul>
            <li><i class="fas fa-user"></i><a target="_blank" href="{% url 'basic_app:signup' %}">Create Account</a></li>
            <li><i class="fas fa-user"></i><a href="{% url 'basic_app:refer' %}">Refer A Friend</a></li>
            <li><i class="fa fa-sign-in" aria-hidden="true"></i><a target="_blank" href="{% url 'basic_app:login' %}"> Sign In</a></li>
        </ul>
        <div class="images">
            <img src="{% static 'images/bitcoin.jfif' %}" alt="">
            <img src="{% static 'images/master.jfif' %}" alt="">
            <img src="{% static 'images/visa.jfif' %}" alt="">
            <img src="{% static 'images/paypal.jfif' %}" alt="">
            <img src="{% static 'images/neteller.jfif' %}" alt="">
            <img class="hide" src="{% static 'images/payeer.jfif' %}" alt="">
            <img class="hide" src="{% static 'images/maestro.jfif' %}" alt="">
            <img class="hide" src="{% static 'images/giropay.jfif' %}" alt="">
            
        </div>
    </div>

    <div class="last-header">
        <div class="market-1">
            <h3>Markets</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:products_forex' %}">Forex</a></li>
                <li><a href="{% url 'basic_app:products_indices' %}">Indices</a></li>
                <li><a href="{% url 'basic_app:products_cfds' %}">CFDs</a></li>
                <li><a href="{% url 'basic_app:products_stock' %}">Stocks</a></li>
                <li><a href="{% url 'basic_app:products_crypto' %}">Cryptocurrencies</a></li>
            </ul>    
        </div>

        <div class="market-2">
            <h3>Markets</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:products_metal' %}">Metals</a></li>
                <li><a href="{% url 'basic_app:products_futures' %}">Futures</a></li>
                <li><a href="{% url 'basic_app:products_energies' %}">Energies</a></li>
                <li><a href="{% url 'basic_app:products_bonds' %}">Bonds</a></li>
                <li><a href="{% url 'basic_app:products_commodities' %}">Commodities</a></li>
            </ul>    
        </div>

        <div class="general-1">
            <h3>General</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:why_us' %}">Why Us</a></li>
                <li><a href="{% url 'basic_app:privacy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'basic_app:terms' %}">Legal Terms</a></li>
                <li><a href="{% url 'basic_app:risk_warning' %}">Risk Warning</a></li>
                <li><a href="{% url 'basic_app:safety_funds' %}">Funds Safety</a></li>
            </ul>    
        </div>

        <div class="general-2 hide">
            <h3>General</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:contact_us' %}">Contact Us</a></li>
                <li><a href="{% url 'basic_app:company_news' %}">Company News</a></li>
                <li><a href="{% url 'basic_app:global_awards' %}">Global Awards </a></li>
                <li><a href="{% url 'basic_app:faq' %}">FAQs</a></li>
                <li><a href="{% url 'basic_app:license' %}">Licenses & Regulation</a></li>
            </ul>   
        </div>

        <div class="trading-1 hide">
            <h3>Trading</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:accounts_types' %}">Account Types</a></li>
                <li><a href="{% url 'basic_app:accounts_spreads' %}">Spreads</a></li>
                <li><a href="{% url 'basic_app:accounts_deposit-withdraw' %}">Trading Conditions</a></li>
                <li><a href="{% url 'basic_app:accounts_trading-conditions' %}">Trading Platforms</a></li>
                <li><a href="{% url 'basic_app:accounts_trading-platforms' %}">Deposit/Withdrawal</a></li>
            </ul>   
        </div>

        <div class="education-1 hide">
            <h3>Education</h3><br>
            <ul>
                <li><a href="{% url 'basic_app:education_forex' %}">What is Forex</a></li>
                <li><a href="{% url 'basic_app:education_fx-strategy' %}">Forex Trading Strategies</a></li>
                <li><a href="{% url 'basic_app:education_cfd-trading' %}">CFD Trading</a></li>
                <li><a href="{% url 'basic_app:education_cfd-advantage' %}">Advantages Of CFDs</a></li>
                <li><a href="{% url 'basic_app:education_cfd-glossary' %}">CFD Glossary</a></li>
            </ul>   
        </div>

    </div>

    <div class="support">
        <p>Message us on <a href="mailto:crisoption00@gmail.com">support@crisoption.com</a></p>
    </div>

    <div class="license">
        <p>CrisOption (www.crisoption.com) is License by the Cyprus Securities and 
            Exchange Commission with CIF license number 104/14, regulated by the International Financial Services 
            Commission of Belize with License numbers IFSC/59/365/TC and IFSC/50/317/AEM.</p>
    </div>

    <div class="secure">
      <i class="fa-solid fa-globe fa-4x py-1"></i> 
        <img src="{% static 'images/secure1.png' %}" alt=""> 
        <img src="{% static 'images/secure2.png' %}" alt=""> 
    </div>
</div>

<div class="footer">
    <p>CrisOption &copy; 2023. All Rights Reserved.</p>
</div>

</div>

<script src="//code.tidio.co/bgg03filtv4zwsidkxkkxsyxxx22zcag.js" async></script>
{% endblock %}