<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><i class="fa-solid fa-globe fa-2x py-1"></i></p> <br>
    <p>Hello {{ user.username }}</p> <br>
    <p>We're glad to have you onboard as we offer the best broker services.</p> 
    <p>New users qualify for a $5 dollar gift immediately after first deposit</p>
    <p>What's more? Referral. You earn for every referral you have. Login to your account to get your referral link</p> <br>
    <p><a href="https://crisoption.com/login">Login Here</a></p>
</body>
</html>